h1 {
	text-align: center;
	width: 100%;
	font-size: 2em;
	background-color: black;
	color: white;
	padding: 0.25em 0.5em;
	margin: 0;
}

h2 {
	background-color: red;
	padding: 0.3em;
	width: 100%;
	margin: 0;
}

#gameScore {
	padding-left:2em;
}

#gameTopScore {
	float: right;
	padding-right:1em;
}
#gameMessage {
	color: red;
	font-weight: bold;
	text-align: center;
}

#instructions {
	color: white;
}